<!-- Header: Map + toolbar -->
<div class="row">

    <div class="col-xs-12">
        <!-- Map container -->

        <div id="map" class="map-home-page"></div>

        <!-- Map toolbar -->
        <div id="map-toolbar" class="map-toolbar">
            <div>
                {{{ map_toolbar_legend }}}
            </div>
            <form id="map-toolbar-form" class="map-toolbar-form" action="" onsubmit="return(false);">
                <input id="radio-severe-status" type="radio" name="status" value="s"><label
                    for="radio-severe-status"> {{{ fi_status_severe }}}</label>
                <input id="radio-moderate-severe-status" type="radio" name="status" value="ms"><label
                    for="radio-moderate-severe-status">{{{ fi_status_moderate_severe }}}</label>
            </form>
        </div>

        <!-- Download map button (Label to remove, just for test)
        <div id="download-map-button">DOWNLOAD MAP</div> -->
    </div>
</div>

<!-- Logo + Intro text-->
<div class="row voh-intro-text">
    <div class="hidden-xs voh-intro-logo-holder col-sm-2">
        <div><img class="voh-logo-blue" src='src/images/voh-logo-blue.svg'></div>
    </div>
    <div class="col-xs-12 col-sm-10 ">
        <h3> {{{ home_intro_title }}}</h3>
        <div> {{{ home_intro_text }}}</div>
    </div>
</div>

<!-- Home Page Content: Database updates + right column -->
<div class="row voh-home-main-content">
    <!-- Database upadate-->
    <div class="col-xs-9">
        <h1> {{ database_update_title }}</h1>
        <div class="db-updates-list-holder">
            <ul id="db-updates-list" class="db-updates-list"></ul>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ documents_links_title }} </h1>
                <div>
                    <ul id="documents-list" class="voh-home-document-list"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Twitter</h1>

                <div class="afo-footer-social-twitter">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/twitter" data-widget-id={{twitter_account_id}}>Tweets of @twitter</a>
                </div>
             </div>
        </div>
    </div>
</div>

<br><br>