<!-- Section switcher-->
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li><a href="#visualization/scores"> {{ section_scores }}</a></li>
            <li><a href="#visualization/table">{{ section_table }}</a></li>
        </ul>
    </div>
</div>

<!-- Selectors -->
<div class="row">
    <!-- Map Container-->
    <div class="col-xs-8">
        <div> {{ map_selector_title }}</div>
        <div> map</div>

    </div>

    <!-- Other selectors Container-->
    <div class="col-xs-4">
        <div> {{ other_selectors_title }}</div>

        <!-- FI status selectors-->
        <div>
            <form id="scores-fi-form" action="" onsubmit="return(false);">
                <input id="radio-severe-status" type="radio" name="status" value="s">
                <label for="radio-severe-status"> {{ fi_status_severe }}</label>
                <input id="radio-moderate-severe-status" type="radio" name="status" value="sm">
                <label for="radio-moderate-severe-status">{{ fi_status_moderate_severe }}</label>
            </form>
        </div>

        <!-- Variables selectors-->
        <div>
            <div> {{ variables_title }} </div>
            <form id="scores-variables-form" action="" onsubmit="return(false);">
                <input id="scores-age-sel" type="checkbox" name="variable" value="age">
                <label for="scores-age-sel"> {{ var_age }}</label>
                <input id="scores-location-sel" type="checkbox" name="variable" value="location">
                <label for="scores-location-sel"> {{ var_location }}</label>
                <input id="scores-education-sel" type="checkbox" name="variable" value="education">
                <label for="scores-education-sel"> {{ var_education }}</label>
                <input id="scores-gender-sel" type="checkbox" name="variable" value="gender">
                <label for="scores-gender-sel"> {{ var_gender }}</label>
                <input id="scores-marital-sel" type="checkbox" name="variable" value="marital">
                <label for="scores-marital-sel"> {{ var_marital_status }}</label>
                <input id="scores-income-sel" type="checkbox" name="variable" value="income">
                <label for="scores-income-sel"> {{ var_income }}</label>
            </form>
        </div>

        <!-- Total selectors-->
        <div>
            <input id="checkbox-show-total" type="checkbox" name="total" value="population">
            <label for="checkbox-show-total">{{ checkbox_show_total }}</label>
        </div>

    </div>
</div>

<!-- Toolbar -->
<div class="row">
    <div class="col-xs-12">
        <button id="scores-go-btn" class="btn btn-default pull-right"> {{ go_btn }}</button>
        <button id="scores-reset-btn" class="btn btn-default pull-right"> {{ reset_btn }}</button>
    </div>
</div>

<!-- Error Holder -->
<div class="row">
    <div class="col-xs-12">
        <div class="error-holder"></div>
    </div>
</div>

<!-- Results container -->
<div class="row">
    <div class="col-xs-12">
        <div id="results-container">

        </div>
    </div>
</div>