<!-- Selectors -->
<div class="row voh-visualization-selector">
    <!-- Map Container-->
    <div class="col-xs-8 voh-map-cont">
        <div class="row">
            <div class="col-xs-12">
                <h1> {{ map_selector_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- Geo selector granularity-->
                <div>
                    <form id="geo-granularity-form" class="geo-granularity-form" action="" onsubmit="return(false);">
                        <input id="geo-as-country" type="radio" name="geo-granularity" value="country">
                        <label for="geo-as-country"> {{ geo_granularity_country }}</label>
                        <input id="geo-as-region" type="radio" name="geo-granularity" value="region">
                        <label for="geo-as-region">{{ geo_granularity_region }}</label>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="geo-selector-container">
                    <div id="geo-selector"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- Other selectors Container-->
    <div class="col-xs-4 voh-other-sel">
        <h1> {{ other_selectors_title }}</h1>

        <!-- FI status selectors-->
        <div>
            <form id="table-fi-form" action="" onsubmit="return(false);">
                <input id="radio-severe-status" type="radio" name="status" value="s">
                <label for="radio-severe-status"> {{ fi_status_severe }}</label>
                <input id="radio-moderate-severe-status" type="radio" name="status" value="ms">
                <label for="radio-moderate-severe-status">{{ fi_status_moderate_severe }}</label>
            </form>
        </div>

        <!-- Variables selectors-->
        <div class="voh-other-var">
            <h4> {{ variables_title }} </h4>
            <form id="table-variables-form" action="" onsubmit="return(false);">
                <input id="table-age-sel" type="checkbox" name="variable" value="age">
                <label for="table-age-sel"> {{ var_age }}</label><br>
                <input id="table-location-sel" type="checkbox" name="variable" value="location">
                <label for="table-location-sel"> {{ var_location }}</label><br>
                <input id="table-education-sel" type="checkbox" name="variable" value="education">
                <label for="table-education-sel"> {{ var_education }}</label><br>
                <input id="table-gender-sel" type="checkbox" name="variable" value="gender">
                <label for="table-gender-sel"> {{ var_gender }}</label><br>
                <input id="table-marital-sel" type="checkbox" name="variable" value="marital">
                <label for="table-marital-sel"> {{ var_marital_status }}</label><br>
                <input id="table-income-sel" type="checkbox" name="variable" value="income">
                <label for="table-income-sel"> {{ var_income }}</label><br>
            </form>
        </div>

        <!-- Total selectors-->
        <div>
            <input id="checkbox-show-total" type="checkbox" name="total" value="population">
            <label for="checkbox-show-total">{{ checkbox_show_total }}</label>
        </div>

    </div>
</div>


<!-- Toolbar -->
<div class="row">
    <div class="col-xs-12 voh-vis-buttons-holder clearfix">

        <!-- Section switcher-->
        <ul class="voh-section-switcher pull-left">
            <li>Show result as:</li>
            <li><a href="visualization/scores"> {{ section_scores}}</a></li>
            <li class="active"><a href="visualization/table">{{ section_table }}</a></li>
        </ul>

        <div class="btn-group pull-right voh-section-buttons" role="group">
            <button id="table-reset-btn" class="btn btn-default btn-reset"> {{ reset_btn }}</button>
            <button id="table-go-btn" class="btn btn-primary btn-table-go"> {{ go_btn }}</button>
        </div>
    </div>
</div>

<!-- Error Holder -->
<div class="row">
    <div class="col-xs-12">
        <div class="error-holder"></div>
    </div>
</div>

<!-- Results container -->
<div class="row">
    <div class="col-xs-12">
        <div id="results-container">

            <div class="obj-box-header">
                <h1>{{ results }}</h1>
            </div>

            <div class="obj-box obj-box-olap">

                <div data-role="courtesy">
                    <div data-role="message">
                        <h3 class="text-center">
                            {{ where_is_the_data }}
                        </h3>

                        <h5 class="text-center fs-output-preview-message">
                            <span class="fs-icojam-icon icojam_rotate_4"></span><br>
                            {{ placeholder_make_a_selection }}<i>{{ placeholder_show_data }}</i>
                        </h5>
                    </div>
                </div>

                <div id="pivot1"></div>
            </div>


        </div>
    </div>
</div>